body{
    font-family:"Open Sans", sans-serif;
    font-size: 32px;
    background-color:#0C1820;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #11212C;
}

span{
    font-size: 16px;
}

p{
    font-size: 16px;
}

h5{
    margin-top: 15px;
    margin-bottom: 15px;
}

header h2{
    font-family: "Anton SC", sans-serif;
    color: rgb(210, 210, 210);
    filter: drop-shadow(3px 3px 1px #888888);
}

main{
    display: flex;
    justify-content: center;
}

.book_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;   
    border: none;
    border-radius: 10px;
    background-color: #192d39;
    width: 500px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.book_container h4{
    margin-top: 20px;
}

.book_container img {
    width: 60px;
    height: 80px;
}

header img{
    width: 100px;
    margin-left: 24px;
    margin-right: 24px;
    filter: drop-shadow(3px 3px 1px #0e0e0e);
}

footer{
    display: flex;
    align-items: center;
    background-color: #11212C;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 30px;
}

.footer_content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 106.8px;
    background-color: #11212C;
}

footer img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.signature{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: rgb(170, 168, 168);
}

.under-signature{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: gray;
    margin-bottom: 16px;
}

table{
    width: 400px;
}

.column_1{
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}

.column_2{
    font-size: 16px;
    text-align: start;
    max-width: 150px; /* Begrenze die maximale Breite */
    word-wrap: break-word; /* Wörter umbrechen */
    white-space: normal; /* Erlaubt Zeilenumbruch */
    overflow-wrap: break-word; /* Wörter bei Bedarf umbrechen */
    text-align: end;
}

.price_like{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.likes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    filter:grayscale(90%);
}

.likes img{
    width: 2rem;
    height: 2rem;
}

.likes button{
    background-color: transparent;
    border: none;
}

.comment_sektion{
    width: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 32px;
}

.comment_input{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.comment_input input{
    color: rgb(226, 225, 225);
    width: 350px;
    background-color: #2d424d;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
}

.comment_input input::placeholder{
    color: rgb(213, 211, 211);
}

.comment_input button{
    width: 50px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
}

.comment_input img:hover{
    filter: invert(0);
}

.item {
    flex: 1; /* verteilt den Platz gleichmäßig */
    text-align: center; /* optional, für eine zentrierte Darstellung des Inhalts */
    padding: 10px;
    box-sizing: border-box; /* damit padding keinen zusätzlichen Platz einnimmt */
}

.comment_input img{
    width: 40px;
    height: auto;
    filter: invert(1);
}

.scrollbar{
    overflow: auto;
    height: 200px;
}

.scrollbar {
    --sb-track-color: #232e33;
    --sb-thumb-color: #60b4b3;
    --sb-size: 10px;
  }
  
.scrollbar::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
.scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
  }
  
.scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
  }

.comments{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
}

.comment_sektion span{
    display: flex;
    flex: 1;
}

.space{
    width: 200px;
}




.grayscale{
    filter: grayscale(0);
}


@media(max-width:530px){
    h2{
        font-size: 40px;
    }

    .book_container{
        width: 350px;
        font-size: 20px;
    }

    .price_like{
        width: 275px;
    }

    .comment_sektion{
        width: 275px;
        font-size: 20px;

    }

    header img {
        width: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .comment_input{
        width: 270px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .comment_input input{
        width: 270px;
    }

    span{
        font-size: 12px;
    }

    table{
        width: 275px;
    }
}

@media(max-width:380px){
    .book_container{
        width: 290px;
    }
}